@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
    --primary: #40ACC9;
    --secondary: #B8ECFA;
    --dark: #0676A4;
    --white: #fbfbfb;
    --light: #F2F2F0;
    --gray: #707070;
    --red: #F7374F;
    --lightGray: #dee1e2;
    --green: #A4DD00;
    --greenLight: #D3E671;
    --black: #222831;
}

* {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

input {
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    background-color: #f8f8f8;
    width: 100%;
    padding: 3px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    display: block;
    box-sizing: border-box;
    height: 36px;
}

select {
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    background-color: #f8f8f8;
    width: 100%;
    padding: 3px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    display: block;
    box-sizing: border-box;
    height: 36px;
}

input[type=submit] {
   background-color: var(--primary);
    cursor: pointer;
    color: var(--white);
    border: none;
}

a {
    text-decoration: none;
    color: var(--dark);
}

input[type=submit]:hover {
    background-color: var(--secondary);
}


input:focus {
    outline: none;
}


input:hover {
    border-color: #ccc;
}

input:focus{
    border-color: var(--primary);
    background: #fff;
}

input[type=submit].red-button {
    background-color: var(--red);
}

input[type=submit].red-button:hover {
    background-color: #ef9ca6;
}

table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}


th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: var(--lightGray);
    color: #0a0a0a;
}

table, td, th {
    border: 1px solid var(--lightGray);
}

