:root {
    --primary: #3B82F6;
    --secondary: #60A6FA;
    --dark: #6c7c8c;
    --white: #fbfbfb;
    --light: #EAF2FE;
    /*
    --primaryPatient: "#8BC34A";
    --secondaryPatient: "#AED581";
    --darkPatient: "#204835";
    --whitePatient: "#F1F8E9";*/
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

input {
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 3px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    display: block;
    height: 36px;
}


input:hover {
    border-color: #ccc;
}

input:focus{
    border-color: #9147ff;
    background: #fff;
}
