body {
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--light);
    gap: 20px;
}


.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

header {
    flex: 1;
}

main {
    flex: 5;
}

.navbar {
    height: 90%;
}

.navbar-nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.navbar-nav li {
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
}

.navbar-nav li:hover {
    background-color: var(--light);
}

