body {
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--light);
    gap: 20px;
}


.card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

header {
    flex: 1;
}

main {
    flex: 5;
}

.navbar {
    height: 90%;
}

.navbar-nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.navbar-nav li {
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
}

.navbar-nav li:hover {
    background-color: var(--light);
}

.container-slot {
    display: flex;
    gap: 50px;
}

.container-slot form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.container-slot-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.slot {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--lightGray);
    border-radius: 10px;
    padding: 10px;
}

.slot h4 {
    color: #4a4a4a;
    font-weight: normal;
}

.delete-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-report {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-report textarea {
    resize: none;
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    background-color: #f8f8f8;
    width: 100%;
    padding: 3px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    display: block;
    box-sizing: border-box;
}
